body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.full-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: absolute;
}

.smoke-text {
  color: whitesmoke;
}

.nav-button {
  padding: 1em;
  margin: 1em;
  font-size: 1.5em;
}

#nav-bar {
  background-color: rgb(211, 211, 211, 0.2);
  position: sticky;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.text-shadow {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.circuit-background {
  background-image: url('./images/glow-keyboard.jpg');
  background-size: cover;
}

.clockwork-background {
  background-image: url('./images/grey-clockwork.jpg');
  background-size: cover;
}

.main-title {
  font-size: 5em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 2em;
}

#landing-title-box {
font-family: 'Oswald', sans-serif;
width: 35vw;
margin: 20vh auto;
}