body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

a {


}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#full-site {
  height: 100%;
  width: 100vw
}

.full-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  border-bottom: 2pt solid black;
}

.smoke-text {
  color: ivory;
}

#nav-bar a {
  text-decoration: none;
  color: ivory;
}

.nav-button {
  padding: 1em;
  margin:0 1em;
  font-size: 1.5em;
}

.nav-button:hover {
  background-color: rgba(70, 70, 70, 0.664);
}

#nav-bar {
  background-color: rgba(70, 70, 70, 0.3);
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}

.nav-button:visited {
  color: whitesmoke;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.column-flex {
  flex-direction: column;
}

.text-shadow {
  text-shadow:
  0.075em 0 black,
  0 0.075em black,
  -0.075em 0 black,
  0 -0.075em black,
  -0.075em -0.075em black,
  -0.075em 0.075em black,
  0.075em -0.075em black,
  0.075em 0.075em black;
}

.keyboard-background {
  background-image: url('../images/glow-keyboard.jpg');
  background-size: cover;
}

.circuit-background {
  background-image: url('../images/blue-circuit.jpg');
  background-size: cover;
}

.main-title {
  font-size: 5em;
  margin: 0 auto;
}

.subtitle {
  font-size: 2em;
  margin-top: 0;
}

#landing-title-box {
width: 35vw;
margin: auto;
position: relative;
padding: 15vh 0 5vh;
}

#landing-bio {
  position: relative;
  width: 100%;
  margin:1.5em auto;
  font-size: 1.5em;

  text-align: center;
}

#landing-bio p {
  width: 40%;
  margin: auto;
  /* background-color: rgba(33, 9, 170, 0.589); */
}

.page-header {
margin-top: 0;
font-size: 3em;
padding-top: 1em;
text-decoration: underline;
}

#project-header {
  text-shadow:
  0.05em 0 black,
  0 0.05em black,
  -0.05em 0 black,
  0 -0.05em black,
  -0.05em -0.05em black,
  -0.05em 0.05em black,
  0.05em -0.05em black,
  0.05em 0.05em black;
}

.grey {
  background-color: rgb(33, 157, 173);
}

.grid-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(2, 50%);
  height: 50vh;
  width: 90vw;
  margin-left: 5vw;
}

.project-box {
  justify-self: center;
  align-self: center;
width: 10em;
height: 7em;
background-color: ivory;
border: 1pt solid black;
position: relative;
text-align: center;
}

.project-name {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
}