body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#full-site {
  height: 100%;
  width: 100vw
}

.full-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  border-bottom: 2pt solid black;
}

.smoke-text {
  color: ivory;
}

#nav-bar a {
  text-decoration: none;
  color: ivory;
}

.nav-button {
  padding: 1em;
  margin:0 1em;
  font-size: 1.5em;
}

.nav-button:hover {
  background-color: rgba(70, 70, 70, 0.664);
}

#nav-bar {
  background-color: rgba(70, 70, 70, 0.3);
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}

.nav-button:visited {
  color: whitesmoke;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.column-flex {
  flex-direction: column;
}

.text-shadow {
  text-shadow:
  0.05em 0 black,
  0 0.05em black,
  -0.05em 0 black,
  0 -0.05em black,
  -0.05em -0.05em black,
  -0.05em 0.05em black,
  0.05em -0.05em black,
  0.05em 0.05em black;
}

.keyboard-background {
  background-image: url('../images/glow-keyboard.jpg');
  background-size: cover;
}

.circuit1-background {
  background-image: url('../images/circuit1.jpg');
  background-size: cover;
}

.circuit2-background {
  background-image: url('../images/circuit2.jpg');
  background-size: cover;
}

.circuit3-background {
  background-image: url('../images/circuit3.png');
  background-size: cover;
}

.circuit4-background {
  background-image: url('../images/circuit4.jpg');
  background-size: cover;
}

.main-title {
  font-size: 5em;
  margin: 0 auto;
}

.subtitle {
  font-size: 2em;
  margin-top: 0;
}

#landing-title-box {
width: 35vw;
margin: auto;
position: relative;
padding: 15vh 0 5vh;
}

#landing-bio {
  position: relative;
  width: 100%;
  margin:1.5em auto;
  font-size: 1.5em;
  text-align: center;
}

#landing-bio p {
  width: 40%;
  margin: auto;
}

.page-header {
margin-top: 0;
font-size: 3em;
padding-top: 2em;
/* text-decoration: underline; */
}

.grid-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(2, 50%);
  height: 50vh;
  width: 90vw;
  margin-left: 5vw;
}

.vertical-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.horizontal-center {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.project-box {
  justify-self: center;
  align-self: center;
width: 15vw;
height: 15vh;
background-color: ivory;
border: 1pt solid black;
position: relative;
text-align: center;
box-shadow:4px 4px rgb(18, 36, 53);
}

.project-box:active {
  background-color: rgb(230, 230, 216);
}

.project-name {
  color: black;
}

#big-project-box {
  height: 75vh;
  width: 70vw;
  background-color: ivory;
  border: 2pt solid black;
  box-shadow:6px 6px rgb(18, 36, 53);
  outline: none;
}

#big-project-box:active {
  background-color: rgb(230, 230, 216);
}

.hidden {
  display: none;
}