@media screen and (min-width: 801px) {
  #big-project-box {
    --big-p-size: 1em;
    --big-p-padding: 1em 2em;
    --bp-title-size:20pt !important;
    --project-box-width: 100px;
  }
}

@media screen and (max-width: 800px) {
  #big-project-box {
    --big-p-size: 0.8em;
    --big-p-padding: 1em 2em;
    --bp-title-size:15pt !important;
    --project-box-width: 15vw;
  }
}

@media screen and (max-width: 450px) {
  #big-project-box {
    --big-p-size: 7pt;
    --big-p-padding: 1em 1em;
    --bp-title-size:10pt !important;
  }
}

.project-box {
  justify-self: center;
  align-self: center;
  width: var(--project-box-width);
  height: 15vh;
  background-color: ivory;
  border: 1pt solid black;
  position: relative;
  text-align: center;
  box-shadow:4px 4px rgb(18, 36, 53);
}

.project-box:active {
  background-color: rgb(230, 230, 216);
}

.project-name {
  color: black;
}

.bp-desc-p {
  padding: var(--big-p-padding);
  text-align: justify;
  font-size: var(--big-p-size);
}

#big-project-box {
  height: 75vh;
  width: 70vw;
  background-color: ivory;
  border: 2pt solid black;
  box-shadow:6px 6px rgb(18, 36, 53);
  outline: none;
  position: absolute;
}

#big-project-box h2 {
font-size: var(--bp-title-size);
}

#big-project-box:active {
  background-color: rgb(230, 230, 216);
}

#bp-title {
  position: relative;
  margin: 0;
  text-decoration: underline;
}

#bp-flex-container {
  width: 100%;
  height: 80%;
}

.grid-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(3, 33.333%);
  height: 50vh;
  width: 90%;
  margin-left: 5%;
}

#project-links-container {
  font-size: var(--big-p-size);
}

#bp-close-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}